<h1>Edit Task</h1>
<div class="form">
  <%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.check_box :completed %>
    <%= label_tag(:completed, "Completed") %>
    <%= f.submit %>
  <% end %>
</div>
<div class="back">
  <%= link_to "Back to all my tasks", tasks_path %>
</div>